@model IEnumerable<Assign3.Models.Class>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<p>This is the list of all classes</p>

@foreach (var Class in Model)
{
    <div><a href="/Class/Show/@Class.ClassId">@Class.ClassName</a></div>


}


