<div class="jumbotron">
    <h1>School Project</h1>
    <p class="lead">This page will list teachers, students, and class for a school.</p>
    <p><a href="https://humber.ca/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Teacher</h2>
        <img src="~/Content/images/teacher.png" width="200" />
        <p>If you want to know more information about our teachers, click the link down below.</p>
        <p><a class="btn btn-default" href="~/Teacher/List">More information &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Student</h2>
        <img src="~/Content/images/student.png" width="200"/>
        <p>If you want to know more information about our students, click the link down below.</p>
        <p><a class="btn btn-default" href="~/Student/List">More information &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Class</h2>
        <img src="~/Content/images/class.png" width="200"/>        
        <p>If you want to know more information about our Classes, click the link down below.</p>
        <p><a class="btn btn-default" href="~/Class/List">More information &raquo;</a></p>
    </div>
</div>
